{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container-main">
        <div class="row" >
            <div class="col-6 offset-3 example-wrapper example-wrapper-center">
                <div class="box-content">
                    <h1>Sign up</h1>
                </div>

                <div class="box-content-2">
                    <div class="container">
                        <div class="row">
                            <div class="sign-up-form mt-4 p-4">
                                <form method="post" action="#" class="row">
                                    <div id="error-message" class="alert d-none alert-danger"></div>
                                    <div id="success-message" class="alert d-none alert-success"></div>
                                    <div class="col-12 mb-2">
                                        <label for="inputUsername">Username</label>
                                        <input type="text" name="username" id="inputUsername" value="" class="form-control" required autofocus>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="inputPassword">E-mail</label>
                                        <input type="email" name="email" id="inputEmail" class="form-control" required>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <button  class="btn btn-lg btn-primary float-end" type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_end %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

